
@{
    ViewBag.Title = "Om oss";
}


<section id="hero" class="hero d-flex align-items-center">

    <div class="videobox">

        <video controls>
            <source width="360" height="350" src="~/Content/assets/img/images/Avslutningsseremoni .mp4" type="video/mp4">
        </video> <br>

    </div>


</section>

<style>
    #videobox {
        display: block;
        height: 100%;
        left: 25%;
        position: absolute;
        top: 50%;
        width: 100%;
    }
</style>

