@{
    ViewBag.Title = "";
}



<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Kontakt</h2>
            <p>Kontakt oss</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-clock"></i>
                            <h3>Trond Ahlsen</h3>
                            <p>Daglig leder</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h3>Ring oss</h3>
                            <p>Telefon: 95269021</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-envelope"></i>
                            <h3>send e-post</h3>
                            <p>tah@ennem.no</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



</section><!-- End Contact Section -->
