@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Welcome To ENNEM</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">
                    Ennem skaper, etablerer og utvikler fra ide til produkt innen flere bransjer.
                    De siste årene har Ennem vært med på etablering av verdenscup triathlon i Bergen,
                </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>les mer</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <iframe width="560" height="340" src="https://www.youtube.com/embed/nZ4awIPcKlA?playlist=nZ4awIPcKlA&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<section id="about" class="about">

    <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h1>Ennem</h1>
                    <h4>
                        Ennem skaper, etablerer og utvikler fra ide til produkt innen flere bransjer.
                        De siste årene har Ennem vært med på etablering av verdenscup triathlon i Bergen,
                        VM vintertriatlon og den årlige konferansen for aktører innen sportsproduksjon, Norspok.
                        Selskapet holder også kurs innen presentasjonsteknikk, journalistikk og TV-produksjon,
                        og har i tillegg ulike produksjoner innen video/TV bl.a. mot industri og offentlige aktører/folkehelse.
                    </h4>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img style="width:500px; height:400px" src="~/Content/assets/img/images/gunnarsdottir-08034 (1) (1).jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End About Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Ennem </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile" style="color: #ee6c20;"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Norspok</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile" style="color: #15be56;"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                        <p>VM vintertriatlon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile" style="color: #bb0852;"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Verdenscup triathlon</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->
<!-- ======= Features Section ======= -->
<main id="main">
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h1>"Ennem" Hvem er vi?</h1>
                <p>Godt for deg – godt for Norge</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <iframe width="560" height="515" src="https://www.youtube.com/embed/9DX-ccUi_d8?playlist=9DX-ccUi_d8&loop=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Ennem skaper, etablerer og utvikler fra ide til produkt innen flere bransjer.</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>De siste årene har Ennem vært med på etablering av</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Verdenscup triathlon i Bergen.</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>VM vintertriatlon og den årlige konferansen for aktører innen sportsproduksjon, Norspok</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Selskapet holder også kurs innen presentasjonsteknikk, journalistikk og TV-produksjon</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>og har i tillegg ulike produksjoner innen video/TV bl.a. mot industri og offentlige aktører/folkehelse.</h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- / row -->
            <!-- ======= Team Section ======= -->
            <section id="team" class="team">

                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h2>Team</h2>
                        <p>Vårt hardtarbeidende team</p>
                    </header>

                    <div class="row gy-4">

                        <div style="width:50%; height:auto" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="member">
                                <div class="member-img">
                                    <img src="~/Content/assets/img/images/1.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="member-info">
                                    <h4>Trond Ahlsen</h4>
                                    <span>Daglig leder</span>
                                    <p>
                                        Ennem ble etablert av Trond Ahlsen som har bakgrunn fra ulike roller i media,hovedsakelig som journalist.<br>
                                        Har jobbet flere år i avis, radio og TV med ulike oppdragsgivere blant annet OL både for NRK,TV 2 og senest Discovery Channel/Eurosport i Beijing 2022.<br>
                                        Trond Ahlsen er daglig leder av Bergen Triathlon Events AS som skal arrangere verdenscup triatlon i Bergen sentrum.<br>
                                        Epost: tah@ennem.no<br>
                                        Telefon: 95269021<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div style="width:50%; height:auto" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                            <div class="member">
                                <div class="member-img">
                                    <img src="~/Content/assets/img/images/11.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="member-info">
                                    <h4>Øivind Johannessen</h4>
                                    <span>leder av økonomiavdelingen</span>
                                    <p>Øivind Johannessen er deleier i Ennem AS med bakgrunn fra TV 2 som leder av økonomiavdelingen og flere leder- og styreverv i ulike selskaper.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Team Section -->

            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <h4 style="font-size:31px; color: blue">Verdenscup triathlon- Norspok- Ennem</h4>

                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        <li>
                            <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Verdenscup triathlon</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab2">Norspok</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Ennem</a>
                        </li>
                    </ul><!-- End Tabs -->
                    <!-- Tab Content -->
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab1">
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4> Verdenscup i triatlon: </h4>
                            </div>
                            <p>
                                Endelig kan Norge oppleve olympisk mester Kristian Blummenfelt, Verdensmester Gustav Iden og Casper Stornes i sentrum av hjembyen med et entusiastisk publikum som ramme.
                                Et drømmesenario for utøverne og Bergen
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Verdenscup i triatlon:</h4>
                            </div>
                            <p>
                                en mulighet til å kombinere sportsproduksjonskonferansen med en internasjonal mediaproduksjon på øverste nivå. Dagen før konkurransene, som også inkluderer de de aller beste unge utøverne i Norgescup, vil det være felles arrangement
                                i Håkonshallen for deltagere på Norspok og det internasjonale triatlonmiljøet.
                            </p>
                        </div><!-- End Tab 1 Content -->

                        <div class="tab-pane fade show" id="tab2">
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Norspok</h4>
                            </div>
                            <p>Bak Sportproduksjonskonferansen står ulike aktører som brenner for faglig utvikling innen sportsproduksjon. TV 2 Sporten, Media City Bergen og initiativtager Trond Ahlsen gjennom selskapet Ennem. Norsk Sportsjournalistforbund er samarbeidspartner for konferansen. Flere av landets redaksjoner deltar i valg av tema og program, i tillegg til egne presentasjoner og debatter under konferansen. Form og innhold på konferansen utvikles også i samarbeid med teknologiaktører og næringsliv med spesielt engasjement inn mot idretten og sportsproduksjoner.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Norspok</h4>
                            </div>
                            <p>Her har du sjansen til å utvikle egen kompetanse innen sportsjournalistikk, etikk og sportsproduksjon på en innovativ måte, og delta i en unik møteplass. Vi ser frem til å møte deg til faglig diskusjon i august.</p>
                        </div><!-- End Tab 2 Content -->

                        <div class="tab-pane fade show" id="tab3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Ennem</h4>
                            </div>
                            <p>
                                Ennem skaper, etablerer og utvikler fra ide til produkt innen flere bransjer. De siste årene har Ennem vært med på etablering av verdenscup triathlon i Bergen, VM vintertriatlon
                                og den årlige konferansen for aktører innen sportsproduksjon, Norspok.
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Ennem</h4>
                            </div>
                            <p>
                                Selskapet holder også kurs innen presentasjonsteknikk, journalistikk og TV-produksjon, og har i tillegg ulike produksjoner innen video/TV
                                bl.a. mot industri og offentlige aktører/folkehelse.
                            </p>
                        </div><!-- End Tab 3 Content -->

                    </div>

                </div>

                <div class="col-lg-6">
                    <iframe width="560" height="450" src="https://www.youtube.com/embed/zAXSK1KeivU?playlist=zAXSK1KeivU&loop=1"
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div><!-- End Feature Tabs -->
        </div>
    </section><!-- End Features Section -->

    <section id="portfolio" class="portfolio">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>portefølje</h2>
                <p>Sjekk vårt siste galleri</p>
            </header>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Alle</li>
                        <li data-filter=".filter-app">Verdenscup triathlon</li>
                        <li data-filter=".filter-card">Norspok</li>
                        <li data-filter=".filter-web">Ennem</li>
                    </ul>
                </div>
            </div>

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/Bilde 11-modified.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Verdenscup triathlon 1</h4>
                            <p>Verdenscup triathlon</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/Bilde 11-modified.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/NN.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Norspok 3</h4>
                            <p>Norspok</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/NN.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/Blummenfelt OL-vinner-modified.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Verdenscup triathlon 2</h4>
                            <p>Verdenscup triathlon</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/Blummenfelt OL-vinner-modified.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/E3.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Ennem 2</h4>
                            <p>Ennem</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/E3.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/N3.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Norspok 2</h4>
                            <p>Norspok</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/N3.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/Bilde 3-modified.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Verdenscup triathlon 3</h4>
                            <p>Verdenscup triathlon</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/Bilde 3-modified.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/e1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Ennem 1</h4>
                            <p>Ennem</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/e1.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/e2.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Ennem 3</h4>
                            <p>Ennem</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/e2.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/images/N1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Norspok 3</h4>
                            <p>Norspok</p>
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/images/N1.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Portfolio Section -->

    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Kontakt</h2>
                <p>Kontakt oss</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-6">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>Trond Ahlsen</h3>
                                <p>Daglig leder</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i>
                                <h3>Ring oss</h3>
                                <p>Telefon: 95269021</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i>
                                <h3>send e-post</h3>
                                <p>tah@ennem.no</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>



    </section><!-- End Contact Section -->
</main><!-- End #main -->
